<ng-container *ngIf="data$ | async as data">
  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-center">Sign up</h1>
          <p class="text-center">
            <a routerLink="/login"> Have an account? </a>
          </p>
          
          <mc-backend-error-messages *ngIf="data.backendErrors" [backendErrors]="data.backendErrors"></mc-backend-error-messages>

          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <fieldset>
              <fieldset class="form-group p-2">
                <input
                  class="form-control form-control-lg"
                  formControlName="username"
                  type="text"
                  placeholder="Username"
                />
              </fieldset>
              <fieldset class="form-group p-2">
                <input class="form-control form-control-lg" formControlName="email" type="email" placeholder="Email" />
              </fieldset>
              <fieldset class="form-group p-2">
                <input
                  class="form-control form-control-lg"
                  formControlName="password"
                  type="password"
                  placeholder="Password"
                />
              </fieldset>
              <div class="p-2">
                <button class="btn btn-lg btn-primary float-end" type="submit" [disabled]="data.isSubmitting">
                  <!-- [disabled]="isSubmitting$ | async" -->
                  Sign up
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>
