.home-page .feed-toggle {
  margin-bottom: -1px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ul {
  margin-top: 0;
}
.nav-pills .nav-item {
  margin-left: 0.2rem;
  float: left;
}
.nav-pills.outline-active .nav-link.active {
  background: #fff !important;
  border-bottom: 2px solid #5CB85C !important;
  color: #5CB85C !important;
}
.nav-pills.outline-active .nav-link {
  border-radius: 0px;
  border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
  border-bottom: 2px solid transparent;
  background: transparent;
  color: #aaa;
}
.nav-pills .nav-link {
  display: block;
  padding: 0.5em 1em;
}
.nav-pills.outline-active .nav-link:hover {
  color: #555;
}