<ng-container *ngIf="data$ | async as data">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand text-success" routerLink="/">Medium</a>

      <ul class="nav navbar-expand-lg">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/">
            <i class="bi bi-house">&nbsp;Home</i>
          </a>
        </li>

        <ng-container *ngIf="data.currentUser">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/articles/new">
              <i class="bi bi-vector-pen">&nbsp;New Post</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/settings">
              <i class="bi bi-gear">&nbsp;Settings</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="['/profiles', data.currentUser.username]">
              <img class="bi bi-person-circle" [src]="data.currentUser.image" /> {{ data.currentUser.username }}
            </a>
          </li>
        </ng-container>

        <ng-container *ngIf="!data.currentUser">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/login">
              <i class="bi bi-box-arrow-in-right">&nbsp;Sign In</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/register">
              <i class="bi bi-r-square">&nbsp;Sign Up</i>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
</ng-container>
